*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    width: 100% !important;
    flex-grow: 1;

    background-image: url(/assets/clinica.jpg);
    background-size: cover;

}

.fondo{
    background-color: aliceblue;
}

section table{
    font-size: 12px;
}

.btn-trash{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
}